.header {
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.button {
    font-size: 20px;
    width: 220px;
    height: 60px;
    align-self: flex-start;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition-duration: 0.35s;
}

.button:hover {
    scale: 1.1 1.1;
    -unity-background-image-tint-color: rgb(255, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}
